<div class="section">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col s4">
        <h4><%= link_to post.title, post_path(post.id) %></h4>
        <div id="post-detail-<%= post.id %>" class="hidden">
          <p><%= post.content %></p>
          <%= image_tag post.thumbnail %>
        </div>
      </div>
    </div>
  <% end %>
</div>
